You may print this page as your ticket
<div class="ticket">
    <table id="print">
        <thead class="td-print">
            <tr>
                <td class="">Venuemaster</td>
                <td class="">Venue code {{_id}}</td>
            </tr>
            <tr>
                <td class="td-print">{{name}}</td>
                <td class="">Venuemaster</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{startingHour}}</td>

            </tr>
            <tr>
                <td>Admit {{qty}}</td>
                <td>{{total}} lv </td>
            </tr>
        </tbody>
    </table>
</div>