<ul>
    {{#each cats}}
    <li>
        <img src="images/{{imageLocation}}.jpg" width="250" height="250" alt="Card image cap">
        <div class="info">
            <button class="showBtn" onclick="toggle(this)">Show status code</button>     
            <div class="status" style="display: none" id="{{id}}">
                <h4 class="card-title">Status Code: {{statusCode}}</h4>
                <p class="card-text">{{statusMessage}}</p>
            </div>
        </div>
    </li>
    {{/each}}
</ul>

  {{!-- взел съм и <ul>, защото парентът му е с id --}}
  {{!-- <button class="showBtn" onclick="display({{id}})">Show status code</button> --}}
  {{!-- this e самият бутон, затова в другия файл не се вика с e.target, а само с e --}}